sudo: false
language: cpp
os: osx
compiler:
  - clang
  - gcc
branches:
  only:
    - master
before_install:
  - cd qsl && sh build/bootstrap-osx-homebrew.sh

matrix:
  include:
    - compiler: gcc
      env: COMPILER=g++-6

    - compiler: clang
      env: COMPILER=clang++-3.9

before_script:
    - if [ "$COMPILER" = "g++-6"        ]; then export CXX="g++-6" CC="gcc-6";              fi
    - if [ "$COMPILER" = "clang++-3.9"  ]; then export CXX="clang++-3.9" CC="clang-3.9";    fi

script:
  - cd qsl && sh build/rebuild_and_check.sh
  
notifications:
  email:
    on_success: never
    on_failure: always
